.itemFriends{
    width: 180px;
    border: solid 3px black;
    border-radius: 4px;
    list-style: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px  rgb(140, 0, 255);
    margin-bottom: 10px;
    border-radius: 10px;
}
.itemFriends:not(:last-child){
    margin-bottom: 10px;
}
.avatar {
    margin-right: 10px;
    width: 55px;
    border-radius: 5px;
}
.name {
    font-size: 20px;
    font-weight: 700;
}
.online {
    background-color: #0b970b;
}

.offline {
    background-color: #b32929;
}
.status {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.itemFriends span{
    width: 20px;
    height: 20px;
   border-radius: 50%;
   margin-right: 7px;
}